body, html {
  background-image: url("../images/weather.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.btn{
  padding: 50px;
}
.container{
  padding-top: 20px;
}

